//FONT USES SIZING NAMES FROM spacing.scss AND THE WHOLE DECLARATION
//IS IN ROOT

$variables: map-merge(
	$variables,
	(
		// body font size
		--text-base-size: 0.4rem,
		// type scale
		--text-scale-ratio: 1.2,
		//VARIABLES FOR THIS SITE
		--font-primary: (Open Sans, Helvetica, sans-serif),
		--font-secondary: (Roboto, Helvetica, sans-serif),
		//text-sizes
		--p-size: var(--text-md),
		--h1-size: var(--text-4xl),
		--h2-size: var(--text-2xl),
		--h3-size: var(--text-xl),
		--a-size: var(--text-md),
		--nav-size: var(--text-2xs),
		//important for this to be in em
		--letter-spacing: 0.35em
	)
);
